.headCon {
  margin: 20px;
  display: flex;
  flex-wrap: wrap;  
  justify-content: center; 
  gap: 20px; 
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border: 2px solid black;
  width: 200px;
  height: 300px;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 2px 2px 10px rgba(0,0,0,0.1); 
}

.container img{
  height: 150px;
  width: 100%; 
  object-fit: cover; 
  border-radius: 8px;
}
